<P-187- Book Recommendation>

Business Objective:
Generate the features from the dataset and use them to recommend the books accordingly to the users.
Content
The Book-Crossing dataset comprises 3 files.
●	Users
Contains the users. Note that user IDs (User-ID) have been anonymized and map to integers. Demographic data is provided (Location, Age) if available. Otherwise, these fields contain NULL-values.
●	Books
Books are identified by their respective ISBN. Invalid ISBNs have already been removed from the dataset. Moreover, some content-based information is given (Book-Title, Book-Author, Year-Of-Publication, Publisher), obtained from Amazon Web Services. Note that in case of several authors, only the first is provided. URLs linking to cover images are also given, appearing in three different flavours (Image-URL-S, Image-URL-M, Image-URL-L), i.e., small, medium, large. These URLs point to the Amazon web site.
●	Ratings
Contains the book rating information. Ratings (Book-Rating) are either explicit, expressed on a scale from 1-10 (higher values denoting higher appreciation), or implicit, expressed by 0.

In [1]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 72E3-1983

 Directory of C:\Users\kulde\ExcelR\Project\Recommendation

13-01-2023  18:15    <DIR>          .
13-01-2023  18:17    <DIR>          ..
13-01-2023  18:15    <DIR>          .ipynb_checkpoints
10-01-2023  14:07        73,293,635 Books.csv
10-01-2023  14:05           206,133 P187- Requirement document.docx
13-01-2023  14:47        53,084,764 P-187(Book - Recommendation System).ipynb
10-01-2023  14:07        22,633,892 Ratings.csv
13-01-2023  14:58           328,139 Recommendation.ipynb
11-01-2023  15:40           226,400 Recommendation-Copy1.ipynb
13-01-2023  10:05           213,588 Recommendation-Copy2.ipynb
13-01-2023  13:11           382,184 Recommendation-Copy3.ipynb
10-01-2023  17:15             7,703 Untitled.ipynb
10-01-2023  14:07        11,017,438 Users.csv
              10 File(s)    161,393,876 bytes
               3 Dir(s)  354,804,494,336 bytes free

In [2]:
import pandas as pd
import numpy as np

# Books Data

In [3]:
Books= pd.read_csv("Books.csv")

C:\Users\kulde\AppData\Local\Temp\ipykernel_16900\11660792.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  Books= pd.read_csv("Books.csv")

In [4]:
Books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [5]:
Books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [6]:
Books= Books.rename(columns = {"Book-Title": "Book_Title","Book-Author": "Book_Author", "Year-Of-Publication" : "Publication_Year", "Image-URL-S" : "Image_URL_S", "Image-URL-M" : "Image_URL_M", "Image-URL-L" : "Image_URL_L"   })

In [7]:
Books.head(2)

,ISBN,Book_Title,Book_Author,Publication_Year,Publisher,Image_URL_S,Image_URL_M,Image_URL_L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [8]:
Books.ISBN.nunique()

271360

In [9]:
Books.Book_Title.nunique()

242135

In [10]:
Books.Book_Author.nunique()

102023

In [11]:
Books.Publisher.nunique()

16807

In [12]:
Books.Publication_Year.nunique()

202

In [13]:
Books.Publication_Year.unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', 'DK Publishing Inc', '1943', '1938',
       '1900', '1942', '1923', '1920', '1933', 'Gallimard', '1909',
       '1946', '2008', '1378', '2030', '1936', '1947', '2011', '2020',
       '1919', '1949', '1922', '1897', '2024', '1376', '1926', '2037'],
      dtype=object)

In [14]:
Books.isna().sum()

ISBN                0
Book_Title          0
Book_Author         1
Publication_Year    0
Publisher           2
Image_URL_S         0
Image_URL_M         0
Image_URL_L         3
dtype: int64

# Drop null values

Books[Books.isna().any(axis=1)]

Books.drop(index= [128890, 129037, 187689, 209538, 220731, 221678,] , inplace= True)

Books = Books[Books['Book_Author'].notnull()]

Books = Books[Books["Publisher"].notnull()]

Books = Books[Books["Image_URL_L"].notnull()]

Books.isna().sum()

Books

Books.Publication_Year.unique()

# Replace null values

In [15]:
Books[Books.isna().any(axis=1)]

,ISBN,Book_Title,Book_Author,Publication_Year,Publisher,Image_URL_S,Image_URL_M,Image_URL_L
128890,193169656X,Tyrant Moon,Elaine Corvidae,2002,NaN,http://images.amazon.com/images/P/193169656X.0...,http://images.amazon.com/images/P/193169656X.0...,http://images.amazon.com/images/P/193169656X.0...
129037,1931696993,Finders Keepers,Linnea Sinclair,2001,NaN,http://images.amazon.com/images/P/1931696993.0...,http://images.amazon.com/images/P/1931696993.0...,http://images.amazon.com/images/P/1931696993.0...
187689,9627982032,The Credit Suisse Guide to Managing Your Perso...,NaN,1995,Edinburgh Financial Publishing,http://images.amazon.com/images/P/9627982032.0...,http://images.amazon.com/images/P/9627982032.0...,http://images.amazon.com/images/P/9627982032.0...
209538,078946697X,"DK Readers: Creating the X-Men, How It All Beg...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...,http://images.amazon.com/images/P/078946697X.0...,http://images.amazon.com/images/P/078946697X.0...,NaN
220731,2070426769,"Peuple du ciel, suivi de 'Les Bergers\"";Jean-M...",2003,Gallimard,http://images.amazon.com/images/P/2070426769.0...,http://images.amazon.com/images/P/2070426769.0...,http://images.amazon.com/images/P/2070426769.0...,NaN
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Book...",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...,http://images.amazon.com/images/P/0789466953.0...,http://images.amazon.com/images/P/0789466953.0...,NaN

In [16]:
Books[(Books["Publication_Year"] == "DK Publishing Inc") | (Books["Publication_Year"] == "Gallimard")]

,ISBN,Book_Title,Book_Author,Publication_Year,Publisher,Image_URL_S,Image_URL_M,Image_URL_L
209538,078946697X,"DK Readers: Creating the X-Men, How It All Beg...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...,http://images.amazon.com/images/P/078946697X.0...,http://images.amazon.com/images/P/078946697X.0...,NaN
220731,2070426769,"Peuple du ciel, suivi de 'Les Bergers\"";Jean-M...",2003,Gallimard,http://images.amazon.com/images/P/2070426769.0...,http://images.amazon.com/images/P/2070426769.0...,http://images.amazon.com/images/P/2070426769.0...,NaN
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Book...",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...,http://images.amazon.com/images/P/0789466953.0...,http://images.amazon.com/images/P/0789466953.0...,NaN

In [17]:
Books.loc[Books.ISBN == "193169656X", "Publisher"] = "Mundania Press LLC"

Books.loc[Books.ISBN == "1931696993", "Publisher"] = "Bantam Books"

Books.loc[Books.ISBN == "9627982032", "Book_Author"] = "Larissa Anne Downes"

Books.loc[Books.ISBN == "078946697X", "Publication_Year"] = 2000
Books.loc[Books.ISBN == "078946697X", "Book_Author"] = "Michael Teitelbaum"
Books.loc[Books.ISBN == "078946697X", "Publisher"] = "DK Publishing Inc"
Books.loc[Books.ISBN == "078946697X", "Image_URL_L"] = "http://images.amazon.com/images/P/078946697X.01.THUMBZZZ.jpg"

Books.loc[Books.ISBN == "2070426769", "Publication_Year"] = 2003
Books.loc[Books.ISBN == "2070426769", "Book_Author"] = "Jean-Marie Gustave LeClezio"
Books.loc[Books.ISBN == "2070426769", "Publisher"] = "Gallimard"
Books.loc[Books.ISBN == "2070426769", "Image_URL_L"] = "http://images.amazon.com/images/P/2070426769.01.THUMBZZZ.jpg"

Books.loc[Books.ISBN == "0789466953", "Publication_Year"] = 2000
Books.loc[Books.ISBN == "0789466953", "Book_Author"] = "James Buckley"
Books.loc[Books.ISBN == "0789466953", "Publisher"] = "DK Publishing Inc"
Books.loc[Books.ISBN == "0789466953", "Image_URL_L"] = "http://images.amazon.com/images/P/0789466953.01.THUMBZZZ.jpg"

In [18]:
Books.Publication_Year.unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', '1943', '1938', '1900', '1942', '1923',
       '1920', '1933', '1909', '1946', '2008', '1378', '2030', '1936',
       '1947', '2011', '2020', '1919', '1949', '1922', '1897', '2024',
       '1376', '1926', '2037'], dtype=object)

In [19]:
Books.Publication_Year= pd.to_numeric(Books.Publication_Year, errors = 'coerce')

In [20]:
print(sorted(Books.Publication_Year.unique()))

[0, 1376, 1378, 1806, 1897, 1900, 1901, 1902, 1904, 1906, 1908, 1909, 1910, 1911, 1914, 1917, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2008, 2010, 2011, 2012, 2020, 2021, 2024, 2026, 2030, 2037, 2038, 2050]

In [21]:
Books.loc[(Books["Publication_Year"] == 0) | (Books["Publication_Year"] >2023), "Publication_Year"] = np.nan

In [22]:
Books[Books.isna().any(axis=1)]

,ISBN,Book_Title,Book_Author,Publication_Year,Publisher,Image_URL_S,Image_URL_M,Image_URL_L
176,3150000335,Kabale Und Liebe,Schiller,NaN,"Philipp Reclam, Jun Verlag GmbH",http://images.amazon.com/images/P/3150000335.0...,http://images.amazon.com/images/P/3150000335.0...,http://images.amazon.com/images/P/3150000335.0...
188,342311360X,Die Liebe in Den Zelten,Gabriel Garcia Marquez,NaN,Deutscher Taschenbuch Verlag (DTV),http://images.amazon.com/images/P/342311360X.0...,http://images.amazon.com/images/P/342311360X.0...,http://images.amazon.com/images/P/342311360X.0...
288,0571197639,Poisonwood Bible Edition Uk,Barbara Kingsolver,NaN,Faber Faber Inc,http://images.amazon.com/images/P/0571197639.0...,http://images.amazon.com/images/P/0571197639.0...,http://images.amazon.com/images/P/0571197639.0...
351,3596214629,"Herr Der Fliegen (Fiction, Poetry and Drama)",Golding,NaN,Fischer Taschenbuch Verlag GmbH,http://images.amazon.com/images/P/3596214629.0...,http://images.amazon.com/images/P/3596214629.0...,http://images.amazon.com/images/P/3596214629.0...
542,8845229041,Biblioteca Universale Rizzoli: Sulla Sponda De...,P Coelho,NaN,Fabbri - RCS Libri,http://images.amazon.com/images/P/8845229041.0...,http://images.amazon.com/images/P/8845229041.0...,http://images.amazon.com/images/P/8845229041.0...
...,...,...,...,...,...,...,...,...
270794,014029953X,Foe (Essential.penguin S.),J.M. Coetzee,NaN,Penguin Books Ltd,http://images.amazon.com/images/P/014029953X.0...,http://images.amazon.com/images/P/014029953X.0...,http://images.amazon.com/images/P/014029953X.0...
270913,0340571187,Postmens House,Maggie Hemingway,NaN,Trafalgar Square,http://images.amazon.com/images/P/0340571187.0...,http://images.amazon.com/images/P/0340571187.0...,http://images.amazon.com/images/P/0340571187.0...
271094,8427201079,El Misterio De Sittaford,Agatha Christie,NaN,Editorial Molino,http://images.amazon.com/images/P/8427201079.0...,http://images.amazon.com/images/P/8427201079.0...,http://images.amazon.com/images/P/8427201079.0...
271182,0887781721,Tom Penny,Tony German,NaN,P. Martin Associates,http://images.amazon.com/images/P/0887781721.0...,http://images.amazon.com/images/P/0887781721.0...,http://images.amazon.com/images/P/0887781721.0...
271196,3150013763,Der Hofmeister,Jakob Lenz,NaN,"Philipp Reclam, Jun Verlag GmbH",http://images.amazon.com/images/P/3150013763.0...,http://images.amazon.com/images/P/3150013763.0...,http://images.amazon.com/images/P/3150013763.0...

In [23]:
Books["Publication_Year"].fillna(Books["Publication_Year"].mean(), inplace= True)

In [24]:
print(sorted(Books.Publication_Year.unique()))

[1376.0, 1378.0, 1806.0, 1897.0, 1900.0, 1901.0, 1902.0, 1904.0, 1906.0, 1908.0, 1909.0, 1910.0, 1911.0, 1914.0, 1917.0, 1919.0, 1920.0, 1921.0, 1922.0, 1923.0, 1924.0, 1925.0, 1926.0, 1927.0, 1928.0, 1929.0, 1930.0, 1931.0, 1932.0, 1933.0, 1934.0, 1935.0, 1936.0, 1937.0, 1938.0, 1939.0, 1940.0, 1941.0, 1942.0, 1943.0, 1944.0, 1945.0, 1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0, 1952.0, 1953.0, 1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0, 1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1993.6879154497635, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2008.0, 2010.0, 2011.0, 2012.0, 2020.0, 2021.0]

In [25]:
Books["Publication_Year"]= Books["Publication_Year"].astype(np.int32)

In [26]:
Books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ISBN              271360 non-null  object
 1   Book_Title        271360 non-null  object
 2   Book_Author       271360 non-null  object
 3   Publication_Year  271360 non-null  int32
 4   Publisher         271360 non-null  object
 5   Image_URL_S       271360 non-null  object
 6   Image_URL_M       271360 non-null  object
 7   Image_URL_L       271360 non-null  object
dtypes: int32(1), object(7)
memory usage: 15.5+ MB

# Users Data

In [27]:
Users= pd.read_csv("Users.csv")

In [28]:
Users

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [29]:
Users=Users.rename(columns = {"User-ID": "User_ID"})
Users.head(2)

   User_ID                   Location   Age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [30]:
Users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User_ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       168096 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 6.4+ MB

In [31]:
Users["User_ID"].nunique()

278858

In [32]:
print(sorted(Users["Age"].unique()))

[nan, 0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0, 100.0, 101.0, 102.0, 103.0, 104.0, 105.0, 106.0, 107.0, 108.0, 109.0, 110.0, 111.0, 113.0, 114.0, 115.0, 116.0, 118.0, 119.0, 123.0, 124.0, 127.0, 128.0, 132.0, 133.0, 136.0, 137.0, 138.0, 140.0, 141.0, 143.0, 146.0, 147.0, 148.0, 151.0, 152.0, 156.0, 157.0, 159.0, 162.0, 168.0, 172.0, 175.0, 183.0, 186.0, 189.0, 199.0, 200.0, 201.0, 204.0, 207.0, 208.0, 209.0, 210.0, 212.0, 219.0, 220.0, 223.0, 226.0, 228.0, 229.0, 230.0, 231.0, 237.0, 239.0, 244.0]

In [33]:
Users[(Users["Age"] <5 ) | (Users["Age"] >90)]

        User_ID                                       Location    Age
219         220                       bogota, bogota, colombia    0.0
469         470                     indianapolis, indiana, usa    0.0
561         562  adfdaf, australian capital territory, albania    0.0
612         613                            ankara, n/a, turkey    1.0
670         671                   jeddah, jeddah, saudi arabia    1.0
...         ...                                            ...    ...
277107   277108                    quinto, ticino, switzerland  104.0
277503   277504                     san diego, california, usa  103.0
277558   277559                     lake george, new york, usa   98.0
277908   277909                          phoenix, arizona, usa    2.0
278301   278302       düsseldorf, nordrhein-westfalen, germany  104.0

[1312 rows x 3 columns]

In [34]:
Users.loc[(Users.Age > 90) | (Users.Age < 5), "Age"] = np.nan

In [35]:
Users[Users.isna().any(axis=1)]

        User_ID                            Location  Age
0             1                  nyc, new york, usa  NaN
2             3     moscow, yukon territory, russia  NaN
4             5  farnborough, hants, united kingdom  NaN
6             7                 washington, dc, usa  NaN
7             8            timmins, ontario, canada  NaN
...         ...                                 ...  ...
278849   278850          sergnano, lombardia, italy  NaN
278853   278854               portland, oregon, usa  NaN
278855   278856           brampton, ontario, canada  NaN
278856   278857           knoxville, tennessee, usa  NaN
278857   278858                dublin, n/a, ireland  NaN

[112074 rows x 3 columns]

In [36]:
print(sorted(Users["Age"].unique()))

[nan, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0]

In [37]:
Users["Age"].fillna(Users["Age"].mean(), inplace=True)

In [38]:
Users

        User_ID                            Location       Age
0             1                  nyc, new york, usa  34.72384
1             2           stockton, california, usa  18.00000
2             3     moscow, yukon territory, russia  34.72384
3             4           porto, v.n.gaia, portugal  17.00000
4             5  farnborough, hants, united kingdom  34.72384
...         ...                                 ...       ...
278853   278854               portland, oregon, usa  34.72384
278854   278855  tacoma, washington, united kingdom  50.00000
278855   278856           brampton, ontario, canada  34.72384
278856   278857           knoxville, tennessee, usa  34.72384
278857   278858                dublin, n/a, ireland  34.72384

[278858 rows x 3 columns]

In [39]:
Users["Age"]= Users["Age"].astype(np.int32)

In [40]:
Users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278858 entries, 0 to 278857
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User_ID   278858 non-null  int64
 1   Location  278858 non-null  object
 2   Age       278858 non-null  int32
dtypes: int32(1), int64(1), object(1)
memory usage: 5.3+ MB

In [41]:
Users

        User_ID                            Location  Age
0             1                  nyc, new york, usa   34
1             2           stockton, california, usa   18
2             3     moscow, yukon territory, russia   34
3             4           porto, v.n.gaia, portugal   17
4             5  farnborough, hants, united kingdom   34
...         ...                                 ...  ...
278853   278854               portland, oregon, usa   34
278854   278855  tacoma, washington, united kingdom   50
278855   278856           brampton, ontario, canada   34
278856   278857           knoxville, tennessee, usa   34
278857   278858                dublin, n/a, ireland   34

[278858 rows x 3 columns]

# Ratings Data

In [42]:
Ratings= pd.read_csv("Ratings.csv")

In [43]:
Ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [44]:
Ratings=Ratings.rename(columns = {"User-ID": "User_ID","Book-Rating": "Book_Rating"})
Ratings.head()

   User_ID        ISBN  Book_Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [45]:
Ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1149780 entries, 0 to 1149779
Data columns (total 3 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   User_ID      1149780 non-null  int64
 1   ISBN         1149780 non-null  object
 2   Book_Rating  1149780 non-null  int64
dtypes: int64(2), object(1)
memory usage: 26.3+ MB

In [46]:
Ratings.User_ID.nunique()

105283

In [47]:
Ratings.ISBN.nunique()

340556

In [48]:
Ratings.Book_Rating.nunique()

11

In [49]:
Ratings.Book_Rating.value_counts()

0     716109
8     103736
10     78610
7      76457
9      67541
5      50974
6      36924
4       8904
3       5996
2       2759
1       1770
Name: Book_Rating, dtype: int64

In [50]:
Ratings_implicit = Ratings[(Ratings["Book_Rating"] == 0)]

In [51]:
Ratings_implicit

         User_ID        ISBN  Book_Rating
0         276725  034545104X            0
2         276727  0446520802            0
5         276733  2080674722            0
10        276746  0425115801            0
11        276746  0449006522            0
...          ...         ...          ...
1149769   276704  059032120X            0
1149770   276704  0679752714            0
1149772   276704  080410526X            0
1149774   276704  0876044011            0
1149776   276706  0679447156            0

[716109 rows x 3 columns]

In [52]:
Ratings_implicit.Book_Rating.unique()

array([0], dtype=int64)

In [53]:
Ratings_implicit.ISBN.nunique()

246724

In [54]:
Ratings_implicit.User_ID.nunique()

59517

In [55]:
Ratings_explicit = Ratings[(Ratings["Book_Rating"] >0)]

In [56]:
Ratings_explicit

         User_ID         ISBN  Book_Rating
1         276726   0155061224            5
3         276729   052165615X            3
4         276729   0521795028            6
6         276736   3257224281            8
7         276737   0600570967            6
...          ...          ...          ...
1149773   276704   0806917695            5
1149775   276704   1563526298            9
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[433671 rows x 3 columns]

In [57]:
Ratings_explicit.Book_Rating.unique()

array([ 5,  3,  6,  8,  7, 10,  9,  4,  1,  2], dtype=int64)

In [58]:
Ratings_explicit.ISBN.nunique()

185973

In [59]:
Ratings_explicit.User_ID.nunique()

77805

# Combining all the data by using common columns i.e,
Books and Ratings data have "ISBN" & Ratings and Users data have "User_ID"

In [60]:
Books.head(2)

,ISBN,Book_Title,Book_Author,Publication_Year,Publisher,Image_URL_S,Image_URL_M,Image_URL_L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [61]:
Ratings.head(2)

   User_ID        ISBN  Book_Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [62]:
Users.head(2)

   User_ID                   Location  Age
0        1         nyc, new york, usa   34
1        2  stockton, california, usa   18

In [63]:
Data= Ratings.merge(Users, left_on="User_ID" , right_on="User_ID", how= "left")

In [64]:
Data= Data.merge(Books, left_on="ISBN" , right_on="ISBN", how= "left")

In [65]:
Data

,User_ID,ISBN,Book_Rating,Location,Age,Book_Title,Book_Author,Publication_Year,Publisher,Image_URL_S,Image_URL_M,Image_URL_L
0,276725,034545104X,0,"tyler, texas, usa",34,Flesh Tones: A Novel,M. J. Rose,2002.0,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,276726,0155061224,5,"seattle, washington, usa",34,Rites of Passage,Judith Rae,2001.0,Heinle,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...
2,276727,0446520802,0,"h, new south wales, australia",16,The Notebook,Nicholas Sparks,1996.0,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
3,276729,052165615X,3,"rijeka, n/a, croatia",16,Help!: Level 1,Philip Prowse,1999.0,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...
4,276729,0521795028,6,"rijeka, n/a, croatia",16,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001.0,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...
...,...,...,...,...,...,...,...,...,...,...,...,...
1149775,276704,1563526298,9,"cedar park, texas, usa",34,Get Clark Smart : The Ultimate Guide for the S...,Clark Howard,2000.0,Longstreet Press,http://images.amazon.com/images/P/1563526298.0...,http://images.amazon.com/images/P/1563526298.0...,http://images.amazon.com/images/P/1563526298.0...
1149776,276706,0679447156,0,"quebec, quebec, canada",18,Eight Weeks to Optimum Health: A Proven Progra...,Andrew Weil,1997.0,Alfred A. Knopf,http://images.amazon.com/images/P/0679447156.0...,http://images.amazon.com/images/P/0679447156.0...,http://images.amazon.com/images/P/0679447156.0...
1149777,276709,0515107662,10,"mannington, west virginia, usa",38,The Sherbrooke Bride (Bride Trilogy (Paperback)),Catherine Coulter,1996.0,Jove Books,http://images.amazon.com/images/P/0515107662.0...,http://images.amazon.com/images/P/0515107662.0...,http://images.amazon.com/images/P/0515107662.0...
1149778,276721,0590442449,10,"providence, rhode island, usa",14,Fourth Grade Rats,Jerry Spinelli,1996.0,Scholastic,http://images.amazon.com/images/P/0590442449.0...,http://images.amazon.com/images/P/0590442449.0...,http://images.amazon.com/images/P/0590442449.0...
1149779,276723,05162443314,8,"san antonio, texas, usa",12,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
Data.isna().sum()

User_ID                  0
ISBN                     0
Book_Rating              0
Location                 0
Age                      0
Book_Title          118644
Book_Author         118644
Publication_Year    118644
Publisher           118644
Image_URL_S         118644
Image_URL_M         118644
Image_URL_L         118644
dtype: int64

In [67]:
Data.dropna(inplace= True)

In [68]:
Data

,User_ID,ISBN,Book_Rating,Location,Age,Book_Title,Book_Author,Publication_Year,Publisher,Image_URL_S,Image_URL_M,Image_URL_L
0,276725,034545104X,0,"tyler, texas, usa",34,Flesh Tones: A Novel,M. J. Rose,2002.0,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,276726,0155061224,5,"seattle, washington, usa",34,Rites of Passage,Judith Rae,2001.0,Heinle,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...
2,276727,0446520802,0,"h, new south wales, australia",16,The Notebook,Nicholas Sparks,1996.0,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
3,276729,052165615X,3,"rijeka, n/a, croatia",16,Help!: Level 1,Philip Prowse,1999.0,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...
4,276729,0521795028,6,"rijeka, n/a, croatia",16,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001.0,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...
...,...,...,...,...,...,...,...,...,...,...,...,...
1149774,276704,0876044011,0,"cedar park, texas, usa",34,Edgar Cayce on the Akashic Records: The Book o...,Kevin J. Todeschi,1998.0,A.R.E. Press (Association of Research &amp; Enlig,http://images.amazon.com/images/P/0876044011.0...,http://images.amazon.com/images/P/0876044011.0...,http://images.amazon.com/images/P/0876044011.0...
1149775,276704,1563526298,9,"cedar park, texas, usa",34,Get Clark Smart : The Ultimate Guide for the S...,Clark Howard,2000.0,Longstreet Press,http://images.amazon.com/images/P/1563526298.0...,http://images.amazon.com/images/P/1563526298.0...,http://images.amazon.com/images/P/1563526298.0...
1149776,276706,0679447156,0,"quebec, quebec, canada",18,Eight Weeks to Optimum Health: A Proven Progra...,Andrew Weil,1997.0,Alfred A. Knopf,http://images.amazon.com/images/P/0679447156.0...,http://images.amazon.com/images/P/0679447156.0...,http://images.amazon.com/images/P/0679447156.0...
1149777,276709,0515107662,10,"mannington, west virginia, usa",38,The Sherbrooke Bride (Bride Trilogy (Paperback)),Catherine Coulter,1996.0,Jove Books,http://images.amazon.com/images/P/0515107662.0...,http://images.amazon.com/images/P/0515107662.0...,http://images.amazon.com/images/P/0515107662.0...
1149778,276721,0590442449,10,"providence, rhode island, usa",14,Fourth Grade Rats,Jerry Spinelli,1996.0,Scholastic,http://images.amazon.com/images/P/0590442449.0...,http://images.amazon.com/images/P/0590442449.0...,http://images.amazon.com/images/P/0590442449.0...

# Devide data into implicit and explicit

In [69]:
Data_implicit = Data[(Data["Book_Rating"] == 0)]
Data_implicit

,User_ID,ISBN,Book_Rating,Location,Age,Book_Title,Book_Author,Publication_Year,Publisher,Image_URL_S,Image_URL_M,Image_URL_L
0,276725,034545104X,0,"tyler, texas, usa",34,Flesh Tones: A Novel,M. J. Rose,2002.0,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,276727,0446520802,0,"h, new south wales, australia",16,The Notebook,Nicholas Sparks,1996.0,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
5,276733,2080674722,0,"paris, n/a, france",37,Les Particules Elementaires,Michel Houellebecq,1998.0,Flammarion,http://images.amazon.com/images/P/2080674722.0...,http://images.amazon.com/images/P/2080674722.0...,http://images.amazon.com/images/P/2080674722.0...
10,276746,0425115801,0,"fort worth, ,",34,Lightning,Dean R. Koontz,1996.0,Berkley Publishing Group,http://images.amazon.com/images/P/0425115801.0...,http://images.amazon.com/images/P/0425115801.0...,http://images.amazon.com/images/P/0425115801.0...
11,276746,0449006522,0,"fort worth, ,",34,Manhattan Hunt Club,JOHN SAUL,2002.0,Ballantine Books,http://images.amazon.com/images/P/0449006522.0...,http://images.amazon.com/images/P/0449006522.0...,http://images.amazon.com/images/P/0449006522.0...
...,...,...,...,...,...,...,...,...,...,...,...,...
1149769,276704,059032120X,0,"cedar park, texas, usa",34,Sarah Bishop,Scott Odell,1993.0,Scholastic Inc,http://images.amazon.com/images/P/059032120X.0...,http://images.amazon.com/images/P/059032120X.0...,http://images.amazon.com/images/P/059032120X.0...
1149770,276704,0679752714,0,"cedar park, texas, usa",34,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997.0,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...
1149772,276704,080410526X,0,"cedar park, texas, usa",34,All I Really Need to Know,ROBERT FULGHUM,1989.0,Ivy Books,http://images.amazon.com/images/P/080410526X.0...,http://images.amazon.com/images/P/080410526X.0...,http://images.amazon.com/images/P/080410526X.0...
1149774,276704,0876044011,0,"cedar park, texas, usa",34,Edgar Cayce on the Akashic Records: The Book o...,Kevin J. Todeschi,1998.0,A.R.E. Press (Association of Research &amp; Enlig,http://images.amazon.com/images/P/0876044011.0...,http://images.amazon.com/images/P/0876044011.0...,http://images.amazon.com/images/P/0876044011.0...
1149776,276706,0679447156,0,"quebec, quebec, canada",18,Eight Weeks to Optimum Health: A Proven Progra...,Andrew Weil,1997.0,Alfred A. Knopf,http://images.amazon.com/images/P/0679447156.0...,http://images.amazon.com/images/P/0679447156.0...,http://images.amazon.com/images/P/0679447156.0...

In [70]:
Data_explicit = Data[(Data["Book_Rating"] > 0)]
Data_explicit

,User_ID,ISBN,Book_Rating,Location,Age,Book_Title,Book_Author,Publication_Year,Publisher,Image_URL_S,Image_URL_M,Image_URL_L
1,276726,0155061224,5,"seattle, washington, usa",34,Rites of Passage,Judith Rae,2001.0,Heinle,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...,http://images.amazon.com/images/P/0155061224.0...
3,276729,052165615X,3,"rijeka, n/a, croatia",16,Help!: Level 1,Philip Prowse,1999.0,Cambridge University Press,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...,http://images.amazon.com/images/P/052165615X.0...
4,276729,0521795028,6,"rijeka, n/a, croatia",16,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001.0,Cambridge University Press,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...,http://images.amazon.com/images/P/0521795028.0...
8,276744,038550120X,7,"torrance, california, usa",34,A Painted House,JOHN GRISHAM,2001.0,Doubleday,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...
16,276747,0060517794,9,"iowa city, iowa, usa",25,Little Altars Everywhere,Rebecca Wells,2003.0,HarperTorch,http://images.amazon.com/images/P/0060517794.0...,http://images.amazon.com/images/P/0060517794.0...,http://images.amazon.com/images/P/0060517794.0...
...,...,...,...,...,...,...,...,...,...,...,...,...
1149771,276704,0743211383,7,"cedar park, texas, usa",34,Dreamcatcher,Stephen King,2001.0,Scribner,http://images.amazon.com/images/P/0743211383.0...,http://images.amazon.com/images/P/0743211383.0...,http://images.amazon.com/images/P/0743211383.0...
1149773,276704,0806917695,5,"cedar park, texas, usa",34,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997.0,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...
1149775,276704,1563526298,9,"cedar park, texas, usa",34,Get Clark Smart : The Ultimate Guide for the S...,Clark Howard,2000.0,Longstreet Press,http://images.amazon.com/images/P/1563526298.0...,http://images.amazon.com/images/P/1563526298.0...,http://images.amazon.com/images/P/1563526298.0...
1149777,276709,0515107662,10,"mannington, west virginia, usa",38,The Sherbrooke Bride (Bride Trilogy (Paperback)),Catherine Coulter,1996.0,Jove Books,http://images.amazon.com/images/P/0515107662.0...,http://images.amazon.com/images/P/0515107662.0...,http://images.amazon.com/images/P/0515107662.0...
1149778,276721,0590442449,10,"providence, rhode island, usa",14,Fourth Grade Rats,Jerry Spinelli,1996.0,Scholastic,http://images.amazon.com/images/P/0590442449.0...,http://images.amazon.com/images/P/0590442449.0...,http://images.amazon.com/images/P/0590442449.0...

# 1) Popularity Based Recommendation

In [71]:
Ratings_count = Data_explicit.groupby('Book_Title').count()['Book_Rating'].reset_index()
Ratings_count.rename( columns= {"Book_Rating" : "Ratings_Count"}, inplace=True)
Ratings_count

                                               Book_Title  Ratings_Count
0        A Light in the Storm: The Civil War Diary of ...              1
1        Ask Lily (Young Women of Faith: Lily Series, ...              1
2                                            Dark Justice              1
3        Earth Prayers From around the World: 365 Pray...              7
4        Final Fantasy Anthology: Official Strategy Gu...              2
...                                                   ...            ...
135562  Ã?Â?bernachten mit Stil. Die schÃ?Â¶nsten Coun...              1
135563                     Ã?Â?rger mit Produkt X. Roman.              3
135564                                Ã?Â?sterlich leben.              1
135565                              Ã?Â?stlich der Berge.              1
135566                                  Ã?Â?thique en toc              1

[135567 rows x 2 columns]

In [72]:
Ratings_avg = Data_explicit.groupby('Book_Title').mean()['Book_Rating'].reset_index()
Ratings_avg.rename( columns= {"Book_Rating" : "Ratings_Average"}, inplace=True)
Ratings_avg

                                               Book_Title  Ratings_Average
0        A Light in the Storm: The Civil War Diary of ...         9.000000
1        Ask Lily (Young Women of Faith: Lily Series, ...         8.000000
2                                            Dark Justice        10.000000
3        Earth Prayers From around the World: 365 Pray...         7.142857
4        Final Fantasy Anthology: Official Strategy Gu...        10.000000
...                                                   ...              ...
135562  Ã?Â?bernachten mit Stil. Die schÃ?Â¶nsten Coun...         8.000000
135563                     Ã?Â?rger mit Produkt X. Roman.         7.000000
135564                                Ã?Â?sterlich leben.         7.000000
135565                              Ã?Â?stlich der Berge.         8.000000
135566                                  Ã?Â?thique en toc         8.000000

[135567 rows x 2 columns]

In [73]:
Popular_books= Ratings_count.merge(Ratings_avg, on="Book_Title") 
Popular_books

,Book_Title,Ratings_Count,Ratings_Average
0,A Light in the Storm: The Civil War Diary of ...,1,9.000000
1,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
2,Dark Justice,1,10.000000
3,Earth Prayers From around the World: 365 Pray...,7,7.142857
4,Final Fantasy Anthology: Official Strategy Gu...,2,10.000000
...,...,...,...
135562,Ã?Â?bernachten mit Stil. Die schÃ?Â¶nsten Coun...,1,8.000000
135563,Ã?Â?rger mit Produkt X. Roman.,3,7.000000
135564,Ã?Â?sterlich leben.,1,7.000000
135565,Ã?Â?stlich der Berge.,1,8.000000
135566,Ã?Â?thique en toc,1,8.000000

In [74]:
Popular_books= Popular_books[(Popular_books["Ratings_Count"] >= 100) & (Popular_books["Ratings_Average"] >= 8)].sort_values("Ratings_Average", ascending=False).head(50)
Popular_books

,Book_Title,Ratings_Count,Ratings_Average
119061,"The Two Towers (The Lord of the Rings, Part 2)",136,9.330882
115128,"The Return of the King (The Lord of the Rings,...",103,9.213592
45381,Harry Potter and the Goblet of Fire (Book 4),247,9.125506
45400,Harry Potter and the Sorcerer's Stone (Book 1),176,9.062500
45385,Harry Potter and the Order of the Phoenix (Boo...,211,9.047393
45393,Harry Potter and the Prisoner of Azkaban (Book 3),277,9.043321
123681,To Kill a Mockingbird,267,8.977528
45403,Harry Potter and the Sorcerer's Stone (Harry P...,315,8.936508
34428,Ender's Game (Ender Wiggins Saga (Paperback)),151,8.920530
104949,The Fellowship of the Ring (The Lord of the Ri...,205,8.882927
45374,Harry Potter and the Chamber of Secrets (Book 2),326,8.840491
441,1984,144,8.784722
107397,The Hobbit : The Enchanting Prelude to The Lor...,161,8.739130
117778,"The Subtle Knife (His Dark Materials, Book 2)",107,8.672897
106039,The Giver (21st Century Reference),102,8.627451
3283,A Prayer for Owen Meany,182,8.615385
129610,Watership Down,134,8.611940
125564,"Tuesdays with Morrie: An Old Man, a Young Man,...",250,8.588000
101587,The Color Purple,145,8.586207
36288,Fahrenheit 451,204,8.549020
40128,Fried Green Tomatoes at the Whistle Stop Cafe,126,8.531746
107378,The Hitchhiker's Guide to the Galaxy,136,8.529412
106651,The Green Mile,114,8.526316
72599,Night,100,8.520000
76293,Outlander,139,8.496403
116196,The Secret Life of Bees,406,8.477833
87250,Seabiscuit: An American Legend,133,8.473684
106893,The Handmaid's Tale,125,8.456000
102703,The Da Vinci Code,494,8.439271
36894,Fast Food Nation: The Dark Side of the All-Ame...,154,8.415584
106189,"The Golden Compass (His Dark Materials, Book 1)",160,8.400000
89601,Silence of the Lambs,121,8.380165
4837,ANGELA'S ASHES,136,8.360294
113906,The Poisonwood Bible,112,8.348214
8261,Animal Farm,120,8.300000
45188,Hard Eight : A Stephanie Plum Novel (A Stephan...,124,8.298387
98676,The Bean Trees,192,8.281250
49766,I Know This Much Is True,106,8.264151
125998,Two for the Dough,112,8.258929
72564,Nickel and Dimed: On (Not) Getting By in America,174,8.258621
101603,The Color of Water: A Black Man's Tribute to H...,111,8.252252
4260,A Walk in the Woods: Rediscovering America on ...,106,8.207547
63384,Lucky : A Memoir,133,8.195489
110229,The Lovely Bones: A Novel,707,8.185290
114960,The Red Tent (Bestselling Backlist),383,8.182768
39577,Four Blind Mice,104,8.182692
97674,The Alchemist: A Fable About Following Your Dream,126,8.182540
113907,The Poisonwood Bible: A Novel,218,8.178899
80707,Prodigal Summer: A Novel,138,8.159420
108493,The Joy Luck Club,208,8.153846

In [75]:
Popular_books= Popular_books.merge(Data_explicit, on="Book_Title").drop_duplicates("Book_Title")

In [76]:
Popular_books

,Book_Title,Ratings_Count,Ratings_Average,User_ID,ISBN,Book_Rating,Location,Age,Book_Author,Publication_Year,Publisher,Image_URL_S,Image_URL_M,Image_URL_L
0,"The Two Towers (The Lord of the Rings, Part 2)",136,9.330882,638,0345339711,10,"san diego, california, usa",20,J.R.R. TOLKIEN,1986.0,Del Rey,http://images.amazon.com/images/P/0345339711.0...,http://images.amazon.com/images/P/0345339711.0...,http://images.amazon.com/images/P/0345339711.0...
136,"The Return of the King (The Lord of the Rings,...",103,9.213592,11676,0395272211,10,"n/a, n/a, n/a",34,J. R. R. Tolkien,1988.0,Houghton Mifflin,http://images.amazon.com/images/P/0395272211.0...,http://images.amazon.com/images/P/0395272211.0...,http://images.amazon.com/images/P/0395272211.0...
239,Harry Potter and the Goblet of Fire (Book 4),247,9.125506,278356,0439139600,10,"lakeland, tennessee, usa",57,J. K. Rowling,2002.0,Scholastic Paperbacks,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...,http://images.amazon.com/images/P/0439139600.0...
486,Harry Potter and the Sorcerer's Stone (Book 1),176,9.062500,254,0590353403,9,"minneapolis, minnesota, usa",24,J. K. Rowling,1998.0,Scholastic,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...
662,Harry Potter and the Order of the Phoenix (Boo...,211,9.047393,276788,043935806X,7,"mentone, california, usa",34,J. K. Rowling,2003.0,Scholastic,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...
873,Harry Potter and the Prisoner of Azkaban (Book 3),277,9.043321,278356,0439136369,10,"lakeland, tennessee, usa",57,J. K. Rowling,2001.0,Scholastic,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...,http://images.amazon.com/images/P/0439136369.0...
1150,To Kill a Mockingbird,267,8.977528,276953,0446310786,10,"petaling jaya, selangor, malaysia",18,Harper Lee,1988.0,Little Brown &amp; Company,http://images.amazon.com/images/P/0446310786.0...,http://images.amazon.com/images/P/0446310786.0...,http://images.amazon.com/images/P/0446310786.0...
1417,Harry Potter and the Sorcerer's Stone (Harry P...,315,8.936508,278162,059035342X,10,"pittsburgh, pennsylvania, usa",34,J. K. Rowling,1999.0,Arthur A. Levine Books,http://images.amazon.com/images/P/059035342X.0...,http://images.amazon.com/images/P/059035342X.0...,http://images.amazon.com/images/P/059035342X.0...
1732,Ender's Game (Ender Wiggins Saga (Paperback)),151,8.920530,276887,0812533550,9,"arlington, massachusetts, usa",34,Orson Scott Card,1986.0,Tor Books,http://images.amazon.com/images/P/0812533550.0...,http://images.amazon.com/images/P/0812533550.0...,http://images.amazon.com/images/P/0812533550.0...
1883,The Fellowship of the Ring (The Lord of the Ri...,205,8.882927,278246,0618129030,8,"cary, north carolina, usa",34,J. R. R. Tolkien,2001.0,Houghton Mifflin Company,http://images.amazon.com/images/P/0618129030.0...,http://images.amazon.com/images/P/0618129030.0...,http://images.amazon.com/images/P/0618129030.0...
2088,Harry Potter and the Chamber of Secrets (Book 2),326,8.840491,278356,0439064872,8,"lakeland, tennessee, usa",57,J. K. Rowling,2000.0,Scholastic,http://images.amazon.com/images/P/0439064872.0...,http://images.amazon.com/images/P/0439064872.0...,http://images.amazon.com/images/P/0439064872.0...
2414,1984,144,8.784722,254,0451524934,9,"minneapolis, minnesota, usa",24,George Orwell,1990.0,Signet Book,http://images.amazon.com/images/P/0451524934.0...,http://images.amazon.com/images/P/0451524934.0...,http://images.amazon.com/images/P/0451524934.0...
2558,The Hobbit : The Enchanting Prelude to The Lor...,161,8.739130,277744,0345339681,3,"springfield, missouri, usa",34,J.R.R. TOLKIEN,1986.0,Del Rey,http://images.amazon.com/images/P/0345339681.0...,http://images.amazon.com/images/P/0345339681.0...,http://images.amazon.com/images/P/0345339681.0...
2719,"The Subtle Knife (His Dark Materials, Book 2)",107,8.672897,278551,044041833X,7,"bad honnef, nordrhein-westfalen, germany",21,PHILIP PULLMAN,2001.0,Yearling,http://images.amazon.com/images/P/044041833X.0...,http://images.amazon.com/images/P/044041833X.0...,http://images.amazon.com/images/P/044041833X.0...
2826,The Giver (21st Century Reference),102,8.627451,709,0440219078,10,"roanoke, virginia, usa",14,LOIS LOWRY,1994.0,Laure Leaf,http://images.amazon.com/images/P/0440219078.0...,http://images.amazon.com/images/P/0440219078.0...,http://images.amazon.com/images/P/0440219078.0...
2928,A Prayer for Owen Meany,182,8.615385,2996,0345361792,8,"milan, lombardia, italy",21,John Irving,1990.0,Ballantine Books,http://images.amazon.com/images/P/0345361792.0...,http://images.amazon.com/images/P/0345361792.0...,http://images.amazon.com/images/P/0345361792.0...
3110,Watership Down,134,8.611940,278218,0140039589,7,"canberra, australian capital territory, australia",37,Richard Adams,1974.0,Penguin Books,http://images.amazon.com/images/P/0140039589.0...,http://images.amazon.com/images/P/0140039589.0...,http://images.amazon.com/images/P/0140039589.0...
3244,"Tuesdays with Morrie: An Old Man, a Young Man,...",250,8.588000,277756,0385484518,7,"baton rouge, louisiana, usa",17,MITCH ALBOM,1997.0,Doubleday,http://images.amazon.com/images/P/0385484518.0...,http://images.amazon.com/images/P/0385484518.0...,http://images.amazon.com/images/P/0385484518.0...
3494,The Color Purple,145,8.586207,929,0671617028,8,"king of prussia, ,",36,Alice Walker,1985.0,Pocket Books,http://images.amazon.com/images/P/0671617028.0...,http://images.amazon.com/images/P/0671617028.0...,http://images.amazon.com/images/P/0671617028.0...
3639,Fahrenheit 451,204,8.549020,277143,0345342968,9,"prospect, connecticut, usa",34,RAY BRADBURY,1987.0,Del Rey,http://images.amazon.com/images/P/0345342968.0...,http://images.amazon.com/images/P/0345342968.0...,http://images.amazon.com/images/P/0345342968.0...
3843,Fried Green Tomatoes at the Whistle Stop Cafe,126,8.531746,1131,0070212570,7,"berkeley, ,",22,Fannie Flagg,1989.0,McGraw-Hill,http://images.amazon.com/images/P/0070212570.0...,http://images.amazon.com/images/P/0070212570.0...,http://images.amazon.com/images/P/0070212570.0...
3969,The Hitchhiker's Guide to the Galaxy,136,8.529412,277205,0671664964,7,"toronto, ontario, canada",25,Douglas Adams,1988.0,Pocket,http://images.amazon.com/images/P/0671664964.0...,http://images.amazon.com/images/P/0671664964.0...,http://images.amazon.com/images/P/0671664964.0...
4105,The Green Mile,114,8.526316,277168,0671032658,4,"palestine, texas, usa",37,Stephen King,1999.0,Pocket,http://images.amazon.com/images/P/0671032658.0...,http://images.amazon.com/images/P/0671032658.0...,http://images.amazon.com/images/P/0671032658.0...
4219,Night,100,8.520000,277765,0553272535,8,"gonzales, louisiana, usa",18,Elie Wiesel,1982.0,Bantam Books,http://images.amazon.com/images/P/0553272535.0...,http://images.amazon.com/images/P/0553272535.0...,http://images.amazon.com/images/P/0553272535.0...
4319,Outlander,139,8.496403,278314,0385319959,7,"norfolk, virginia, usa",34,Diana Gabaldon,1998.0,Delta,http://images.amazon.com/images/P/0385319959.0...,http://images.amazon.com/images/P/0385319959.0...,http://images.amazon.com/images/P/0385319959.0...
4458,The Secret Life of Bees,406,8.477833,277803,0142001740,8,"baton rouge, louisiana, usa",17,Sue Monk Kidd,2003.0,Penguin Books,http://images.amazon.com/images/P/0142001740.0...,http://images.amazon.com/images/P/0142001740.0...,http://images.amazon.com/images/P/0142001740.0...
4864,Seabiscuit: An American Legend,133,8.473684,277722,0449005615,10,"arnold, california, usa",34,LAURA HILLENBRAND,2002.0,Ballantine Books,http://images.amazon.com/images/P/0449005615.0...,http://images.amazon.com/images/P/0449005615.0...,http://images.amazon.com/images/P/0449005615.0...
4997,The Handmaid's Tale,125,8.456000,1585,0449212602,8,"albuquerque, new mexico, usa",29,Margaret Atwood,1989.0,Fawcett Books,http://images.amazon.com/images/P/0449212602.0...,http://images.amazon.com/images/P/0449212602.0...,http://images.amazon.com/images/P/0449212602.0...
5122,The Da Vinci Code,494,8.439271,276925,0385504209,8,"barcelona, barcelona, spain",22,Dan Brown,2003.0,Doubleday,http://images.amazon.com/images/P/0385504209.0...,http://images.amazon.com/images/P/0385504209.0...,http://images.amazon.com/images/P/0385504209.0...
5616,Fast Food Nation: The Dark Side of the All-Ame...,154,8.415584,5439,0060938455,9,"houston, texas, usa",66,Eric Schlosser,2002.0,Perennial,http://images.amazon.com/images/P/0060938455.0...,http://images.amazon.com/images/P/0060938455.0...,http://images.amazon.com/images/P/0060938455.0...
5770,"The Golden Compass (His Dark Materials, Book 1)",160,8.400000,254,037582345X,9,"minneapolis, minnesota, usa",24,PHILIP PULLMAN,2002.0,Knopf Books for Young Readers,http://images.amazon.com/images/P/037582345X.0...,http://images.amazon.com/images/P/037582345X.0...,http://images.amazon.com/images/P/037582345X.0...
5930,Silence of the Lambs,121,8.380165,6884,0312924585,7,"north liberty, indiana, usa",25,Thomas Harris,1991.0,St. Martin's Press,http://images.amazon.com/images/P/0312924585.0...,http://images.amazon.com/images/P/0312924585.0...,http://images.amazon.com/images/P/0312924585.0...
6051,ANGELA'S ASHES,136,8.360294,277965,0684874350,10,"chula vista, california, usa",34,Frank McCourt,1996.0,Scribner,http://images.amazon.com/images/P/0684874350.0...,http://images.amazon.com/images/P/0684874350.0...,http://images.amazon.com/images/P/0684874350.0...
6187,The Poisonwood Bible,112,8.348214,1424,0060512822,7,"north avoca, new south wales, australia",34,Barbara Kingsolver,2003.0,HarperTorch,http://images.amazon.com/images/P/0060512822.0...,http://images.amazon.com/images/P/0060512822.0...,http://images.amazon.com/images/P/0060512822.0...
6299,Animal Farm,120,8.300000,254,0451526341,8,"minneapolis, minnesota, usa",24,George Orwell,2004.0,Signet,http://images.amazon.com/images/P/0451526341.0...,http://images.amazon.com/images/P/0451526341.0...,http://images.amazon.com/images/P/0451526341.0...
6419,Hard Eight : A Stephanie Plum Novel (A Stephan...,124,8.298387,278356,0312265859,7,"lakeland, tennessee, usa",57,Janet Evanovich,2002.0,St. Martin's Press,http://images.amazon.com/images/P/0312265859.0...,http://images.amazon.com/images/P/0312265859.0...,http://images.amazon.com/images/P/0312265859.0...
6543,The Bean Trees,192,8.281250,277778,0061097314,8,"baton rouge, louisiana, usa",17,Barbara Kingsolver,1998.0,HarperTorch,http://images.amazon.com/images/P/0061097314.0...,http://images.amazon.com/images/P/0061097314.0...,http://images.amazon.com/images/P/0061097314.0...
6735,I Know This Much Is True,106,8.264151,278633,0060987561,10,"sandy, utah, usa",34,Wally Lamb,1999.0,Regan Books,http://images.amazon.com/images/P/0060987561.0...,http://images.amazon.com/images/P/0060987561.0...,http://images.amazon.com/images/P/0060987561.0...
6841,Two for the Dough,112,8.258929,278026,0671001795,8,"east orange, new jersey, usa",56,Janet Evanovich,1996.0,Pocket,http://images.amazon.com/images/P/0671001795.0...,http://images.amazon.com/images/P/0671001795.0...,http://images.amazon.com/images/P/0671001795.0...
6953,Nickel and Dimed: On (Not) Getting By in America,174,8.258621,424,0805063897,8,"portland, oregon, usa",29,Barbara Ehrenreich,2002.0,Owl Books,http://images.amazon.com/images/P/0805063897.0...,http://images.amazon.com/images/P/0805063897.0...,http://images.amazon.com/images/P/0805063897.0...
7127,The Color of Water: A Black Man's Tribute to H...,111,8.252252,3814,1573225789,5,"langhorne, pennsylvania, usa",34,James McBride,1997.0,Riverhead Books,http://images.amazon.com/images/P/1573225789.0...,http://images.amazon.com/images/P/1573225789.0...,http://images.amazon.com/images/P/1573225789.0...
7238,A Walk in the Woods: Rediscovering America on ...,106,8.207547,1075,0767902521,9,"hurst, texas, usa",49,Bill Bryson,1999.0,Broadway Books,http://images.amazon.com/images/P/0767902521.0...,http://images.amazon.com/images/P/0767902521.0...,http://images.amazon.com/images/P/0767902521.0...
7344,Lucky : A Memoir,133,8.195489,278633,0316096199,8,"sandy, utah, usa",34,Alice Sebold,2002.0,Back Bay Books,http://images.amazon.com/images/P/0316096199.0...,http://images.amazon.com/images/P/0316096199.0...,http://images.amazon.com/images/P/0316096199.0...
7477,The Lovely Bones: A Novel,707,8.185290,277439,0316666343,7,"turner, oregon, usa",65,Alice Sebold,2002.0,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...,http://images.amazon.com/images/P/0316666343.0...,http://images.amazon.com/images/P/0316666343.0...
8184,The Red Tent (Bestselling Backlist),383,8.182768,277378,0312195516,7,"vancouver, british columbia, canada",33,Anita Diamant,1998.0,Picador USA,http://images.amazon.com/images/P/0312195516.0...,http://images.amazon.com/images/P/0312195516.0...,http://images.amazon.com/images/P/0312195516.0...
8567,Four Blind Mice,104,8.182692,638,0316693006,10,"san diego, california, usa",20,James Patterson,2002.0,"Little, Brown",http://images.amazon.com/images/P/0316693006.0...,http://images.amazon.com/images/P/0316693006.0...,http://images.amazon.com/images/P/0316693006.0...
8671,The Alchemist: A Fable About Following Your Dream,126,8.182540,1259,0062502174,7,"whistler, british columbia, canada",29,Paulo Coelho,1993.0,HarperSanFrancisco,http://images.amazon.com/images/P/0062502174.0...,http://images.amazon.com/images/P/0062502174.0...,http://images.amazon.com/images/P/0062502174.0...
8797,The Poisonwood Bible: A Novel,218,8.178899,1021,0060930535,10,"rowland, north carolina, usa",34,Barbara Kingsolver,1999.0,Perennial,http://images.amazon.com/images/P/0060930535.0...,http://images.amazon.com/images/P/0060930535.0...,http://images.amazon.com/images/P/0060930535.0...
9015,Prodigal Summer: A Novel,138,8.159420,278645,0060959037,8,"fountain hills, arizona, usa",34,Barbara Kingsolver,2001.0,Perennial,http://images.amazon.com/images/P/0060959037.0...,http://images.amazon.com/images/P/0060959037.0...,http://images.amazon.com/images/P/0060959037.0...
9153,The Joy Luck Club,208,8.153846,278137,0804106304,8,"san antonio, texas, usa",27,Amy Tan,1994.0,Prentice Hall (K-12),http://images.amazon.com/images/P/0804106304.0...,http://images.amazon.com/images/P/0804106304.0...,http://images.amazon.com/images/P/0804106304.0...

# 2) Collaborative Recommendation

In [77]:
x = Data_explicit.groupby("User_ID").count()["Book_Rating"] >=50
Top_voters_index= x[x].index

In [78]:
Top_voters_100=Data_explicit[Data_explicit["User_ID"].isin(Top_voters_index)]

In [79]:
y = Top_voters_100.groupby("Book_Title").count()["Book_Rating"] >=20
Top_Books_index= y[y].index

In [80]:
Top_Books=Data_explicit[Data_explicit["Book_Title"].isin(Top_Books_index)]
Top_Books

,User_ID,ISBN,Book_Rating,Location,Age,Book_Title,Book_Author,Publication_Year,Publisher,Image_URL_S,Image_URL_M,Image_URL_L
8,276744,038550120X,7,"torrance, california, usa",34,A Painted House,JOHN GRISHAM,2001.0,Doubleday,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...
28,276754,0684867621,8,"alberta beach, alberta, canada",19,The Girl Who Loved Tom Gordon : A Novel,Stephen King,1999.0,Scribner,http://images.amazon.com/images/P/0684867621.0...,http://images.amazon.com/images/P/0684867621.0...,http://images.amazon.com/images/P/0684867621.0...
29,276755,0451166892,5,"frankfurt am main, hessen, germany",32,The Pillars of the Earth,Ken Follett,1996.0,Signet Book,http://images.amazon.com/images/P/0451166892.0...,http://images.amazon.com/images/P/0451166892.0...,http://images.amazon.com/images/P/0451166892.0...
84,276788,043935806X,7,"mentone, california, usa",34,Harry Potter and the Order of the Phoenix (Boo...,J. K. Rowling,2003.0,Scholastic,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...
85,276788,055310666X,10,"mentone, california, usa",34,False Memory,Dean R. Koontz,1999.0,Bantam Books,http://images.amazon.com/images/P/055310666X.0...,http://images.amazon.com/images/P/055310666X.0...,http://images.amazon.com/images/P/055310666X.0...
...,...,...,...,...,...,...,...,...,...,...,...,...
1149639,276681,0060809833,10,"chicago, illinois, usa",43,Brave New World,Aldous Huxley,1989.0,Harpercollins,http://images.amazon.com/images/P/0060809833.0...,http://images.amazon.com/images/P/0060809833.0...,http://images.amazon.com/images/P/0060809833.0...
1149640,276681,0060930535,9,"chicago, illinois, usa",43,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999.0,Perennial,http://images.amazon.com/images/P/0060930535.0...,http://images.amazon.com/images/P/0060930535.0...,http://images.amazon.com/images/P/0060930535.0...
1149641,276681,0060938455,9,"chicago, illinois, usa",43,Fast Food Nation: The Dark Side of the All-Ame...,Eric Schlosser,2002.0,Perennial,http://images.amazon.com/images/P/0060938455.0...,http://images.amazon.com/images/P/0060938455.0...,http://images.amazon.com/images/P/0060938455.0...
1149646,276681,0399144463,8,"chicago, illinois, usa",43,Who Moved My Cheese? An Amazing Way to Deal wi...,Spencer Johnson,1998.0,Putnam Pub Group (Paper),http://images.amazon.com/images/P/0399144463.0...,http://images.amazon.com/images/P/0399144463.0...,http://images.amazon.com/images/P/0399144463.0...
1149771,276704,0743211383,7,"cedar park, texas, usa",34,Dreamcatcher,Stephen King,2001.0,Scribner,http://images.amazon.com/images/P/0743211383.0...,http://images.amazon.com/images/P/0743211383.0...,http://images.amazon.com/images/P/0743211383.0...

In [81]:
Top_Books_pivot= Top_Books.pivot_table(index="Book_Title", columns="User_ID", values="Book_Rating")
Top_Books_pivot

User_ID,9,16,26,32,39,42,51,91,97,99,...,278773,278798,278800,278807,278832,278836,278843,278844,278846,278854
Book_Title,,,,,,,,,,,,,,,,,,,,,
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A Bend in the Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Word Freak: Heartbreak, Triumph, Genius, and Obsession in the World of Competitive Scrabble Players",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wuthering Heights,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Year of Wonders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [82]:
Top_Books_pivot.fillna(0, inplace=True)
Top_Books_pivot

User_ID,9,16,26,32,39,42,51,91,97,99,...,278773,278798,278800,278807,278832,278836,278843,278844,278846,278854
Book_Title,,,,,,,,,,,,,,,,,,,,,
1984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Word Freak: Heartbreak, Triumph, Genius, and Obsession in the World of Competitive Scrabble Players",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Wuthering Heights,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Year of Wonders,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [83]:
from sklearn.metrics.pairwise import cosine_similarity

In [84]:
Sim_Score= cosine_similarity(Top_Books_pivot)
Sim_Score

array([[1.        , 0.02293467, 0.00733891, ..., 0.02271138, 0.03868566,
        0.01593066],
       [0.02293467, 1.        , 0.16344491, ..., 0.01859268, 0.01372143,
        0.05600096],
       [0.00733891, 0.16344491, 1.        , ..., 0.01684612, 0.00947328,
        0.03292053],
       ...,
       [0.02271138, 0.01859268, 0.01684612, ..., 1.        , 0.        ,
        0.        ],
       [0.03868566, 0.01372143, 0.00947328, ..., 0.        , 1.        ,
        0.00848073],
       [0.01593066, 0.05600096, 0.03292053, ..., 0.        , 0.00848073,
        1.        ]])

In [85]:
def Recommend(book_name):
    index= np.where(Top_Books_pivot.index == book_name)[0][0]
    distances = Sim_Score[index]
    similar_books=sorted(list(enumerate(Sim_Score[index])), key=lambda x:x[1], reverse=True)[1:11]

    for i in similar_books:
        print(Top_Books_pivot.index[i[0]])

In [86]:
Recommend("1984")

Animal Farm
Brave New World
The Vampire Lestat (Vampire Chronicles, Book II)
Slaughterhouse Five or the Children's Crusade: A Duty Dance With Death
American Psycho (Vintage Contemporaries)
The Catcher in the Rye
Lord of the Flies
The Handmaid's Tale
Word Freak: Heartbreak, Triumph, Genius, and Obsession in the World of Competitive Scrabble Players
The Hitchhiker's Guide to the Galaxy